@import './color';
body{
    background-color: $color2;
    padding-top:105px;
    width:100%
}
// Alex's style


// Chris' style
/**   header  **/
#headcontainer{
    position: fixed;
    width:100%;
    top:0;
    background-color: $color2;
   
    
}
#head{
    color:$color5;
}
h1{
    font-family: 'Lobster', cursive;
    margin-top:1%;
    margin-left:45%;
}
#icon_link{
    margin-top:1%;
    margin-left:10%;
    margin-right:auto;
}
header{
   display: flex;
   text-align: center;
}
nav{
    display: flex;
    background-color: $nav_bg_color;
    border-bottom:1px solid gray;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    margin-right:15%;
    
}
li{
    padding:10px;
}
a{
    text-decoration: none;
}
a:link{
    color:$a_color;
}
a:visited{
    color:$a_color;
}
a:active{
    color:$a_color;
}
a:hover{
    color:$color1;
}
#search{
    width:150px;
    height:30px;
    margin-right:3%;
}
/*
p{
    padding-top:100px;
}
*/
/**   footer  **/
    footer{
        background-color: $color4;
        text-align: center;
         
    }



// Henry's style

// Peri's style