@import './color';
// Alex's style

// Bianca's style
.bcm-content {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: "main sidebar";
    font-family: 'Nunito', 'sans serif';

    .bcm-main {
        grid-area: main;
        padding: 2%;
        background-color: #F5F5F5;

        img {
            height: auto;
            width: 95%;
            overflow: hidden; 
            margin: 2%;
        }
    }

    .bcm-sidebar {
        grid-area: sidebar;
        // display: flex;
        // flex-direction: row;
        padding: 3%;
        background-color: #EBEBEB;
        position: relative;

        .bcm-comments {
            // height: auto;
            overflow-y: scroll;

            hr {
                width: 85%;
                color: #757575;
            }

            .bcm-ind-comment {
                padding: 2%;
                display: grid;
                grid-template-columns: 2fr 5fr;
                grid-template-areas:    "img user"
                                        ". comment";
                
                img {
                    grid-area: img;
                    object-fit: cover;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin: 10px -10px 5px 10px;
                }

                h4 {
                    grid-area: user;
                    margin: 10px 0px 10px 0px;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 800;
                }

                p {
                    grid-area: comment;
                    margin: -25px 10px 10px 0px;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 400;
                }
            }
        }

        .bcm-commentbox {
            height: 200px;
            width: 90%;
            position: absolute; 
            bottom: 0; 

            input[type=text] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid #757575;
                border-radius: 5px;
            }
        }

    }
}

// Chris' style
#head{
    font-family: 'Lobster', cursive;
    text-align: center;
}
// Henry's style

// Peri's style